/* General sets */
:root {
  --bgDarkThemeColor: #111;
  --bgLightThemeColor: #eee;
  --whiteColor: #fff;
  --blackColor: #000;
  --timerDigitColor: #6681fa;
  --textShadowColor: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgDarkThemeColor);
  color: var(--bgLightThemeColor);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*  main container sets */
.container {
  text-align: center;
  max-width: 90vw;
  transition: color 0.3s ease;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
  transition: color 0.3s ease;
}

/* timer section sets */
.time {
  border: 3px solid var(--bgLightThemeColor);
  border-radius: 10px;
  color: var(--timerDigitColor);
  font-size: 3rem;
  font-weight: bold;
  padding: 10px;
  text-shadow: 2px 2px 4px var(--textShadowColor);
  width: 15rem;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

/* dark / light theme */
#toggle-theme-btn {
  margin-top: 3rem;
}

#toggle-theme-btn button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#toggle-theme-btn .fa-solid {
  color: var(--bgLightThemeColor);
  font-size: 2rem;
  transition: color 0.3s ease;
}

.light-mode-body {
  background-color: var(--bgLightThemeColor);
  color: var(--bgDarkThemeColor);
}

.light-mode-timer {
  border: 3px solid var(--bgDarkThemeColor);
}

.light-mode-body #toggle-theme-btn .fa-solid {
  color: var(--bgDarkThemeColor);
}

/* @media sets */
@media (max-width: 767px) {
  body {
    align-items: flex-start;
    padding-top: 10rem;
  }

  .container {
    padding: 1rem;
  }

  #toggle-theme-btn {
    padding-top: 25vh;
  }

  #toggle-theme-btn .fa-solid {
    font-size: 2rem;
  }
}
